/* Hide level 6 org units and arrow icon on level 5 */
.ou-root-1 .orgunit .orgunit .orgunit .orgunit .orgunit .orgunit,
.ou-root-1 .orgunit .orgunit .orgunit .orgunit .orgunit .arrow {
    display: none !important;
}

.ou-root-2 .orgunit .orgunit .orgunit .orgunit .orgunit,
.ou-root-2 .orgunit .orgunit .orgunit .orgunit .arrow {
    display: none !important;
}

.ou-root-3 .orgunit .orgunit .orgunit .orgunit,
.ou-root-3 .orgunit .orgunit .orgunit .arrow {
    display: none !important;
}

.ou-root-4 .orgunit .orgunit .orgunit,
.ou-root-4 .orgunit .orgunit .arrow {
    display: none !important;
}

.ou-root-5 .orgunit .orgunit,
.ou-root-5 .orgunit .arrow {
    display: none !important;
}

/* Hide select box for all levels but level 5 */

.ou-root svg {
    display: none;
}

.ou-root-1 .orgunit .orgunit .orgunit .orgunit .orgunit svg {
    display: inline;
}

.ou-root-2 .orgunit .orgunit .orgunit .orgunit svg {
    display: inline;
}

.ou-root-3 .orgunit .orgunit .orgunit svg {
    display: inline;
}

.ou-root-4 .orgunit .orgunit svg {
    display: inline;
}

.ou-root-5 .orgunit svg {
    display: inline;
}
